.my-custom-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 20px; /* Modifica este valor según lo redondeado que desees los bordes */
  cursor: pointer;
  font-weight: bold;
}

.hover-text {
  display: none;
}

#logoutButton:hover img {
  display: none;
}

#logoutButton:hover .hover-text {
  display: inline-block;
}

.custom-btn.btn.btn-outline-light:hover {
  color: #f8f9fa;
  background-color: transparent;
  border-color: #f8f9fa;
}

