
<div class="container">
  <div class="ms-5 me-5">
    <h1>{{title}}</h1>
    @if (description=='') {
      <p class="placeholder-glow">
        <span class="placeholder col-10 rounded"></span>
      </p>
    }@else{
      <div class="me-5" [innerHTML]="formatDescription(description)"></div>
    }
  </div>
  <div class="row mt-4 ms-4" >
    <div class="col-11 col-sm-5 col-md-4 col-lg-3">
      <shared-sidebar [categories]="categories"></shared-sidebar>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 " >
      <div class="mb-3 col-12 ms-3">
        <div class="row shadow p-2 bg-body rounded">
          <div class="col-12 col-sm-12 col-lg-5 col-md-5 d-flex align-items-center">
            <span class="me-4 col-2 col-md-2 col-sm-1 ms-1" aria-label="Etiqueta para seleccionar la marca">Marca: </span>
            <shared-select class="col-8" [listBrands]="brands" [value]="0" (option)="loadBrands($event)" aria-label="Seleccionar marca"></shared-select>
        </div>
          <div class="col-12 col-sm-12 col-lg-5  col-md-5 d-flex align-items-center mt-sm-3 mt-3 mt-lg-0 mt-md-0">
            <span class="me-4 col-2 col-sm-1" aria-label="Etiqueta para seleccionar el tipo">Tipo:</span>
            <shared-select-type  class="col-8" [listTypes]="types" [value]="0" (option)="loadTypes($event)" aria-label="Seleccionar tipo"></shared-select-type>
          </div>
          <button type="button" class="col-3 col-sm-2  col-lg-1 mt-sm-3 mt-3 mt-lg-0 mt-md-0 my-custom-button" (click)="limpiarFiltros()" title="Limpiar filtros" aria-label="Limpiar filtros">
            <i class="fas fa-broom" aria-hidden="true"></i>
          </button>
        </div>


      </div>
      <div class="container mybackground col-12 ms-2 ">
        <div class="col-8">
          <shared-search></shared-search>
        </div>
        <div class="row justify-content-center align-items-center">
          @if (this.loading){
            <div class="spinner-border mt-5 mb-2" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
            <h6 class="d-flex justify-content-center align-items-center">Cargando...</h6>
          }@else{
            <shared-list-card [type]="1" [products]="products" [permissions]="0"></shared-list-card>
          }
        </div>
        <div class="mt-5 ">
          <shared-pagination [type]="'1'"></shared-pagination>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <button (click)="crearCategory()" class="btn"> Crear Type</button> -->
