<div class="container">
  <div class="row">
    <div class="col-md-3 my-2">
      <label for="image1 + {{this.identifier}}">
        <input type="file" id="image1 + {{this.identifier}}" (change)="handleFileInput($event, 0)" style="display: none;">
        <img [src]="this.images[0] !== '' ? this.images[0] : 'https://via.placeholder.com/200'" alt="Imagen 1" class="img-fluid" style="cursor: pointer; max-width: 200px; max-height: 200px; width: auto; height: auto;">
      </label>
      <button *ngIf="this.images[0] !== ''" class="btn btn-link delete-button" (click)="deleteImage(0)">
        <i class="fas fa-trash-alt"></i>
      </button>
      @if (this.images[0]=='') {
        <div class="text-danger">Debe seleccionar una imagen. <br> De otra manera no se guaradará el cambio</div>
      }
    </div>
    <div class="col-md-3 my-2">
      <label for="image2 + {{this.identifier}}">
        <input type="file" id="image2 + {{this.identifier}}" (change)="handleFileInput($event, 1)" style="display: none;">
        <img [src]="this.images[1] !== '' ? this.images[1] : 'https://via.placeholder.com/200'" alt="Imagen 2" class="img-fluid" style="cursor: pointer; max-width: 200px; max-height: 200px; width: auto; height: auto;"/>
      </label>
      <button *ngIf="this.images[1] !== ''" class="btn btn-link delete-button" (click)="deleteImage(1)">
        <i class="fas fa-trash-alt"></i>
      </button>
      @if (this.images[1]=='') {
        <div class="text-danger">Debe seleccionar una imagen. <br> De otra manera no se guaradará el cambio</div>
      }
    </div>

    <div class="col-md-3 my-2">
      <label for="image3 + {{this.identifier}}">
        <input type="file" id="image3 + {{this.identifier}}" (change)="handleFileInput($event, 2)" style="display: none;">
        <img [src]="this.images[2] !== '' ? this.images[2] : 'https://via.placeholder.com/200'" alt="Imagen 3" class="img-fluid" style="cursor: pointer; max-width: 200px; max-height: 200px; width: auto; height: auto;"/>
      </label>
      <button *ngIf="this.images[2] !== ''" class="btn btn-link delete-button" (click)="deleteImage(2)">
        <i class="fas fa-trash-alt"></i>
      </button>
      @if (this.images[2]=='') {
        <div class="text-danger">Debe seleccionar una imagen. <br> De otra manera no se guaradará el cambio</div>
      }
    </div>
    <div class="col-md-3 my-2">
      <label for="image4 + {{this.identifier}}">
        <input type="file" id="image4 + {{this.identifier}}" (change)="handleFileInput($event, 3)" style="display: none;">
        <img [src]="this.images[3] !== '' ? this.images[3] : 'https://via.placeholder.com/200'" alt="Imagen 4" class="img-fluid" style="cursor: pointer; max-width: 200px; max-height: 200px; width: auto; height: auto;"/>
      </label>
      <button *ngIf="this.images[3] !== ''" class="btn btn-link delete-button" (click)="deleteImage(3)">
        <i class="fas fa-trash-alt"></i>
      </button>
      @if (this.images[3]=='') {
        <div class="text-danger">Debe seleccionar una imagen. <br> De otra manera no se guaradará el cambio</div>
      }
    </div>
  </div>
</div>

