<div class=" container justify-content-center align-items-center ">
  <h1>Nuestros servicios</h1>
  <div class="me-5">
    Cotice con nosotros los servicios que le ofrecemos a usted y su empresa. <br>
    Esto es un texto general, la descripción de cada servicio puede ir en la página individual de cada uno.
  </div>

</div>


  <div class="container justify-content-center align-items-center" >
      <div class=" justify-content-center align-items-center">
        <shared-list-card></shared-list-card>
      </div>
      <div class="mt-5 ">
        <shared-pagination></shared-pagination>
      </div>
  </div>

  <client-component-footers></client-component-footers>
