<div class="ms-5 me-5">
  <h1>Nuestros servicios</h1>
  <div class="me-5">
    Cotice con nosotros los servicios que le ofrecemos a usted y su empresa. <br>
    Esto es un texto general, la descripción de cada servicio puede ir en la página individual de cada uno.
  </div>

</div>
<div class="row mt-4 ms-4" >

  <div class="col-9 col-sm-12 col-md-12 col-lg-9 " >

    <div class="container mybackground col-12 ms-2 ">

      <div class="row justify-content-center align-items-center">
        <shared-list-card></shared-list-card>
      </div>
      <div class="mt-5 ">
        <shared-pagination></shared-pagination>
      </div>
    </div>

  </div>
</div>
