<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h2>Página de Contacto</h2>
      <hr>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Párrafo de bienvenida</p>
        </div>
        <div class="col-md-6">
          <textarea class="form-control" [(ngModel)]="welcomeParagraph"></textarea>
          @if (welcomeParagraph.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Texto de la ubicación</p>
        </div>
        <div class="col-md-6">
          <textarea class="form-control" [(ngModel)]="ubicationText"></textarea>
          @if (ubicationText.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Enlace de Google Maps</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="ubicationGMLink">
          @if (ubicationGMLink.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Enlace de Waze</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="ubicationWazeLink">
          @if (ubicationWazeLink.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Números de teléfono</p>
        </div>
        <div class="col-md-6 d-flex align-items-center ">
          <input type="text" class="form-control w-50" [(ngModel)]="newNumber" (ngModelChange)="validateNumber()" >
          <button class="btn btn-outline-secondary ms-2 me-2" type="button" (click)="addNumber()">+</button>
          @if (!validNumber  && newNumber.length > 0) {
            <div class="text-danger ms-2" >
              Debe empezar con el código 506, no debe contener nigún carácter alfabético y tener una longitud total de 11 números.
            </div>
          }
          <p class="text-responsive">
            <ng-container *ngFor="let number of telephoneNumbers">
              {{ number }}
            </ng-container>
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Correo electrónico</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="email" (ngModelChange)="validateEmail()">
          @if (!emailValid || email.length < 0) {
            <div class="text-danger" >
              Por favor, ingrese un correo electrónico válido.
            </div>
          }

        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Número de Whatsapp</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="whatsappLink"  (ngModelChange)="validateWhatsApp()">
          @if (!validwhatsappLink  || whatsappLink.length < 0) {
              <div class="text-danger ms-2" >
                Debe empezar con el código 506, no debe contener nigún carácter alfabético y tener una longitud total de 11 números.
              </div>

          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Enlace de Facebook</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="facebookLink">
          @if (facebookLink.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Enlace de Instagram</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="instagramLink">
          @if (instagramLink.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Enlace de Youtube</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="youtubeLink">
          @if (youtubeLink.length < 5) {
            <div class="text-danger">Debe tener más de 5 caracteres</div>
          }
        </div>
      </div>

      <div class="row mb-4">
        <div class="offset-3 col-md-6">
          <button class="btn btn-success me-4" (click)="save()">Guardar</button>
        </div>
      </div>

      <div class="offset-2 col-md-12 my-4">
        <h4>Imágenes de Contacto</h4>
        <p>Seleccione una imagen para cambiarla.</p>
        <admin-config-gallery [identifier]="'1'" [images]="this.images"></admin-config-gallery>
        <div class="row my-4">
          <div class="col-md-6">
            <button class="btn btn-success me-4" (click)="saveImages()">Guardar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
