.my-custom-button {
  padding: 10px 20px;
  background-color: #37c132;
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Modifica este valor según lo redondeado que desees los bordes */
  cursor: pointer;
  font-weight: bold;
}
