<body>
  <div class="container">
    <admin-navbar></admin-navbar>

    <div class="container">
      <div class="row mt-4 ms-4 d-flex justify-content-center">
        <div class="col-9 col-sm-12 col-md-12 col-lg-9 ">
          <div class="mb-3 col-11 ms-3">
            <div class="row shadow p-2 bg-body rounded">
              <div class="col-6 d-flex align-items-center">
                <span class="me-4">Marca:</span>
                <shared-select class="col-7"></shared-select>
              </div>
              <div class="col-6 d-flex align-items-center">
                <span class="me-4">Tipo:</span>
                <shared-select class="col-7"></shared-select>
              </div>
            </div>
          </div>
          <div class="container mybackground col-12 ms-2 ">
            <div class="col-8">
              <shared-search></shared-search>
            </div>
            <div class="row justify-content-center align-items-center">
              <shared-list-card [type]="1"></shared-list-card>
            </div>
            <div class="mt-5 ">
              <shared-pagination></shared-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>