<div class="bg-primary">
  <p class="m-4 pt-4">login-page works!</p>
  <button class="ms-4 mb-4 btn btn-success">Click Me</button>
  <span class="badge bg-secondary">La Pinta</span>
</div>

<div class="bg-secondary">
  <p class="m-4 pt-4">login-page works!</p>
  <button class="ms-4 mb-4 btn btn-primary">Click Me</button>
  <span class="badge bg-success">La Niña</span>
</div>

<div class="bg-success">
  <p class="m-4 pt-4">login-page works!</p>
  <button class="ms-4 mb-4 btn btn-secondary" (click)="test()">Click Me</button>
  <span class="badge bg-primary">La Sta. María</span>
</div>

