<body style="background: linear-gradient(to top, #97bfe7, #d6e7f8)">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
      <div class="col-md-8 d-flex flex-column justify-content-center vh-100">
        <img src="../../../../assets/images/ThermoPack_logo_no-bg.png" class="img-fluid" alt="Imagen de Bienvenida">
      </div>
      <div class="col-md-4 bg-white p-4 d-flex flex-column justify-content-center vh-100">
        <h2 class="text-center mb-4 fs-1">¡Bienvenido!</h2>

        <form class="mt-4">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electrónico" [(ngModel)]="this.email" name="email">
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <div class="d-flex align-items-center">
              <input type="{{ passwordFieldType }}" class="form-control me-1" id="inputPassword" placeholder="Contraseña" [(ngModel)]="password" name="password">
              <button type="button" class="btn btn-light" (click)="togglePasswordVisibility()">
                <img src="{{this.passwordIcon}}" alt="Visibilidad">
              </button>
            </div>
          </div>
          <button type="submit" class="mt-4 w-100 btn btn-primary-thermopack btn-lg btn-block" (click)="submitUserLogin()">Ingresar</button>
        </form>

        <p class="text-center mt-3"><a href="#" class="link-secondary link-offset-2-hover link-underline-opacity-0 link-underline-opacity-75-hover">Olvidé mi contraseña</a></p>
      </div>
    </div>
  </div>
</body>
