<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex flex-column justify-content-center vh-100">
        <img src="../../../../assets/images/page-not-found.png" alt="Error 404" class="error-image">
        <p class="my-4 fs-2 text-center">La página que está buscando no existe. Revise la URL e intente de nuevo.</p>
        <p class="fs-5 text-center"><a href="/" class="link-primary link-offset-2-hover link-underline-opacity-0 link-underline-opacity-75-hover">Ir a la página de inicio</a></p>
      </div>
    </div>
  </div>
</body>
