.centrar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ancho del contenedor */
  height: 750px; /* Alto del contenedor */
  overflow: hidden; /* Para recortar las imágenes que excedan el contenedor */
}

.centrar-img img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  display: block;
}

.boder{
  border-radius: 20px;
}


