<!-- <p-galleria [value]="images" [autoPlay]="true"  [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="item" let-item>
    <div class="centrar-img">
      <img [src]="item.itemImageSrc" />
    </div>
  </ng-template>
</p-galleria> -->
<gallery [items]="images"  [imageSize]='"cover"' class="centrar-img" [dots]="true" [thumb]="false"[dotsSize]=10 [autoPlay]="true" [playerInterval]="10000"></gallery>
