<div class="container">
  <!-- Parte 1: Página de Inicio -->
  <div class="row">
    <div class="col-md-12 mt-4">
      <h2>Editar Producto</h2>
      <hr>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Nombre</p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="name">
          @if (name.trim().length < 3) {
            <div class="text-danger">Debe tener al menos 3 caracteres</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Descripción</p>
        </div>
        <div class="col-md-6">
          <textarea class="form-control" [(ngModel)]="description"></textarea>
          @if (description.trim().length<5) {
            <div class="text-danger">Debe tener al menos 5 caracteres</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Precio</p>
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control" [(ngModel)]="price" (keydown)="validateInput($event)">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Marca</p>
        </div>
        <div class="col-md-6">
          <select class="form-select" aria-label="Buscar por tipo" (change)="selectBrand($event)">
            <ng-container *ngFor="let option of brands; let i = index">
              <option [selected]="selectedBrand === i" [value]="i">{{option.name}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Tipo</p>
        </div>
        <div class="col-md-6">
          <select class="form-select" aria-label="Buscar por tipo" (change)="selectType($event)">
            <ng-container *ngFor="let option of types; let i = index">
              <option [selected]="selectedType === i" [value]="i">{{option.name}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Categoría</p>
        </div>
        <div class="col-md-6">
          <select class="form-select" aria-label="Buscar por tipo" (change)="selectCategory($event)">
            <ng-container *ngFor="let option of categories; let i = index">
              <option [selected]="selectedCategory === i" [value]="i">{{option.name}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <p class="text-responsive">Subcategoría</p>
        </div>
        <div class="col-md-6">
          <select class="form-select" aria-label="Buscar por tipo" (change)="selectSubCategory($event)">
            <ng-container *ngFor="let option of categories; let i = index">
              <option [selected]="selectedSubCategory === i" [value]="i">{{option.name}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3">
          <p class="text-responsive">Imágenes</p>
        </div>
        <div class="col-md-6">
          <div>
            <input type="file" multiple (change)="handleFileInput($event)" accept="image/*" style="margin-bottom: 10px;">
            <div>
              <span *ngFor="let image of images; let i = index" >
                <img *ngIf="this.images[i] !== ''" [src]="image" alt="Imagen seleccionada" style="max-height: 50px;">
                <button *ngIf="this.images[i] !== ''" class="btn btn-link delete-button" (click)="deleteImage(i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="offset-3 col-md-6">
          <button class="btn btn-success me-4" (click)="update()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
