<div class="row">
<div class="container mybackground col-12 mt-5" >
    <div class="col-12 m-4 d-flex ">
      <div class="row mb-5">
        <div class="col-6 col-lg-3 col-md-4 col-sm-10 p-0">
          <img src="assets/LogoThermoPack.jpg" alt="logoSpoti" height="200px" width="240px" class="rounded-circle mt-1 centered-image">
        </div>
        <div class="col-5 col-lg-4 col-md-7 col-sm-11 p-0 mt-3">
          <h1 class="m-1 text-light">Un eslogan o frase llamativa de la empresa</h1>
        </div>
        <div class="col-4 col-sm-10 col-lg-4 col-md-10 mt-3">
          <h4 class="mt-5 me-3 mb-3 text-light">Un párrafo donde se explique quiénes son, qué hacen y qué ofrecen. Lorem </h4>
        </div>
      </div>
    </div>
    <div class=" col-12 mt-5">
      <client-components-carousel></client-components-carousel>
    </div>
  </div>
  <div class="mt-5 d-flex mb-5">
    <div class="col-5 mt-5 ms-4">
      <h1 class="mt-5">Misión de la empresa</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    </div>
    <div class="col-7 dots-container">
      <div class="row">
        <div class="container centrar-img col-5 myborder me-0">
          <img src="https://hips.hearstapps.com/hmg-prod/images/types-of-flowers-for-garden-black-eyed-susans-1674848363.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="container centrar-img col-5 mt-5 myborder ">
          <img src="https://hips.hearstapps.com/hmg-prod/images/types-of-flowers-for-garden-black-eyed-susans-1674848363.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 d-flex mb-5">
    <div class="col-6 dots-container">
      <div class="row">
        <div class="container centrar-img col-5 myborder me-0">
          <img src="https://hips.hearstapps.com/hmg-prod/images/types-of-flowers-for-garden-black-eyed-susans-1674848363.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="container centrar-img col-5 mt-5 myborder ">
          <img src="https://hips.hearstapps.com/hmg-prod/images/types-of-flowers-for-garden-black-eyed-susans-1674848363.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="col-5 mt-5 ms-4">
      <h1 class="mt-5">Visión de la empresa</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    </div>

  </div>

</div>
