<table class="table mx-auto mx-5" id="users-table">
  <thead>
    <tr>
      <th>Correo</th>
      <th>Agregar items</th>
      <th>Editar items</th>
      <th>Eliminar items</th>
      <th>Crear Usuarios</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!--? En realidad, no hace falta mostrar la contraseña para que no ande viajando tanto por las APIs-->
    <tr class="align-middle">
      <td><input type="text" [(ngModel)]="email" placeholder="Agregar un correo" style="border: none; outline: none;"></td>
      <td>
        <span class="badge py-2 px-3 w-100"
          [ngClass]="{'text-bg-success': checkedPrivilages[EnumPrivileges.EditText],
                      'text-bg-danger': !checkedPrivilages[EnumPrivileges.EditText]}">
          <input type="checkbox" #txtPrivEditText id="chkPrivEditText"
            (change)="checkChange($event, EnumPrivileges.EditText)" #chkPrivEditText>
          <label class="form-check-label ms-2" for="chkPrivEditText">
            {{ checkedPrivilages[EnumPrivileges.EditText] | yesNoPipe: 'es' }}
          </label>
        </span>
      </td>
      <td>
        <span class="badge py-2 px-3 w-100"
          [ngClass]="{'text-bg-success': checkedPrivilages[EnumPrivileges.AddItems],
                      'text-bg-danger': !checkedPrivilages[EnumPrivileges.AddItems]}">
          <input type="checkbox" #txtPrivAddItems id="checkbox2"
            (change)="checkChange($event, EnumPrivileges.AddItems)" #chkPrivAddItems>
          <label class="form-check-label ms-2" for="checkbox2">
            {{ checkedPrivilages[EnumPrivileges.AddItems] | yesNoPipe: 'es' }}
          </label>
        </span>
      </td>
      <td>
        <span class="badge py-2 px-3 w-100"
          [ngClass]="{'text-bg-success': checkedPrivilages[EnumPrivileges.EditItems],
                      'text-bg-danger': !checkedPrivilages[EnumPrivileges.EditItems]}">
          <input type="checkbox" #txtPrivEditItems id="checkbox3"
            (change)="checkChange($event, EnumPrivileges.EditItems)" #chkPrivEditItems>
          <label class="form-check-label ms-2" for="checkbox3">
            {{ checkedPrivilages[EnumPrivileges.EditItems] | yesNoPipe: 'es' }}
          </label>
        </span>
      </td>
      <td>
        <span class="badge py-2 px-3 w-100"
          [ngClass]="{'text-bg-success': checkedPrivilages[EnumPrivileges.DelItems],
                      'text-bg-danger': !checkedPrivilages[EnumPrivileges.DelItems]}">
          <input type="checkbox" #txtPrivDelItems id="checkbox4"
            (change)="checkChange($event, EnumPrivileges.DelItems)" #chkPrivDelItems>
          <label class="form-check-label ms-2" for="checkbox4">
            {{ checkedPrivilages[EnumPrivileges.DelItems] | yesNoPipe: 'es' }}
          </label>
        </span>
      </td>

      <td class="w-25">
        <button class="btn btn-info text-light mx-auto" (click)="selectedUser = null; isEditing = false; addUser()">
          <img src="assets/icons/remove_person_icon.svg" alt="Eliminar" class="me-1">
          Agregar</button>
      </td>
    </tr>

    @for (user of users; track $index) {
    <tr class="align-middle" [class.table-primary]="user === selectedUser" (click)="selectedUser = user">
      <td [contentEditable]="user.editable">{{ user.userEmail }}</td>
      <td>
        <span class="badge py-2 px-3 w-100" [ngClass]="{'text-bg-success': user.privEditText, 'text-bg-danger': !user.privEditText}">
          <input type="checkbox" [disabled]="!user.editable" [(ngModel)]="user.privEditText" id="checkbox1">
          <label class="form-check-label ms-2" for="checkbox1">{{ user.privEditText | yesNoPipe: 'es' }}</label>
        </span>
      </td>
      <td>
        <span class="badge py-2 px-3 w-100" [ngClass]="{'text-bg-success': user.privAddItems, 'text-bg-danger': !user.privAddItems}">
          <input type="checkbox" [disabled]="!user.editable" [(ngModel)]="user.privAddItems" id="checkbox2">
          <label class="form-check-label ms-2" for="checkbox2">{{ user.privAddItems | yesNoPipe: 'es' }}</label>
        </span>
      </td>
      <td>
        <span class="badge py-2 px-3 w-100" [ngClass]="{'text-bg-success': user.privEditItems, 'text-bg-danger': !user.privEditItems}">
          <input type="checkbox" [disabled]="!user.editable" [(ngModel)]="user.privEditItems" id="checkbox3">
          <label class="form-check-label ms-2" for="checkbox3">{{ user.privEditItems | yesNoPipe: 'es' }}</label>
        </span>
      </td>
      <td>
        <span class="badge py-2 px-3 w-100" [ngClass]="{'text-bg-success': user.privDelItems, 'text-bg-danger': !user.privDelItems}">
          <input type="checkbox" [disabled]="!user.editable" [(ngModel)]="user.privDelItems" id="checkbox4">
          <label class="form-check-label ms-2" for="checkbox4">{{ user.privDelItems | yesNoPipe: 'es' }}</label>
        </span>
      </td>

      <td class="w-25">
        @if (user === selectedUser && !user.editable) {
        <button class="btn btn-primary me-2 mx-auto" (click)="user.editable = true; isEditing = true">
          <img src="assets/icons/edit_note_icon.svg" alt="Editar" class="me-1">
          Editar</button>
        <button class="btn btn-danger mx-auto" (click)="selectedUser = null; isEditing = false">
          <img src="assets/icons/remove_person_icon.svg" alt="Eliminar" class="me-1">
          Eliminar</button>
        }

        @if (user === selectedUser && user.editable) {
        <button class="btn btn-info text-light me-2 mx-auto" (click)="user.editable = false; isEditing = false">
          <img src="assets/icons/check_circle_icon.svg" alt="Eliminar" class="me-1">
          Guardar</button>
        <button class="btn btn-secondary mx-auto" (click)="user.editable = false; isEditing = false">
          <img src="assets/icons/cancel_close_icon.svg" alt="Eliminar" class="me-1">
          Cancelar</button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
