.centrar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* Ancho del contenedor */
  height: 100px; /* Alto del contenedor */
  overflow: hidden; /* Para recortar las imágenes que excedan el contenedor */
}

.centrar-img img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  display: block;
}
.centrar-img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%; /* Ancho del contenedor */
  height: 500px; /* Alto del contenedor */
  overflow: hidden; /* Para recortar las imágenes que excedan el contenedor */
}

.centrar-img2 img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  display: block;
}
