<body>
  <div class="container">
    <!-- Parte 1: Página de Inicio -->
    <div class="row">
      <div class="col-md-12 mt-4">
        <h2>Página de Inicio</h2>
        <hr />
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Eslogan</p>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="eslogan" />
            @if (eslogan.trim().length< 5) {
              <div class="text-danger">Debe tener al menos 5 caracteres</div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Descripción de la empresa</p>
          </div>
          <div class="col-md-6">
            <textarea class="form-control" [(ngModel)]="description"></textarea>
            @if (description.trim().length< 5) {
              <div class="text-danger">Debe tener al menos 5 caracteres</div>
            }

          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Misión de la empresa</p>
          </div>
          <div class="col-md-6">
            <textarea class="form-control" [(ngModel)]="mision"></textarea>
            @if (mision.trim().length< 5) {
              <div class="text-danger">Debe tener al menos 5 caracteres</div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Visión de la empresa</p>
          </div>
          <div class="col-md-6">
            <textarea class="form-control" [(ngModel)]="vision"></textarea>
            @if (vision.trim().length< 5) {
              <div class="text-danger">Debe tener al menos 5 caracteres</div>
            }
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3">
            <p class="text-responsive">Logo de la empresa</p>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="file"
                class="form-control"
                id="inputFile"
                (change)="handleFileInput($event)"
              />
              <label class="input-group-text" for="inputFile"
                >Seleccionar archivo</label
              >
            </div>
            <span>
              <img [src]="logo" alt="Logo" />
            </span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="offset-3 col-md-6">
            <button class="btn btn-success me-4" (click)="save()">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Parte 2: Imágenes de Inicio. -->
    <div class="row mt-4">
      <div class="col-md-12">
        <h2>Imágenes</h2>
        <hr />
        <h4>Misión y Visión</h4>
        <p>Seleccione una imagen para cambiarla.</p>
        <admin-config-gallery  [identifier]="'1'" [images]="this.visionImages" (imagesNew)="updateImages($event)"></admin-config-gallery>
        <div class="row my-4">
          <div class="col-md-6">
            <button class="btn btn-success me-4" (click)="saveVisionImages()">Guardar</button>
          </div>
        </div>

        <h4 class="mt-4">Presentación</h4>
        <p>Seleccione una imagen para cambiarla o borrarla.</p>
        <admin-config-gallery [identifier]="'2'" [images]="this.presentationImages" (imagesNew)="updateImages($event)"></admin-config-gallery>
        <div class="row my-4">
          <div class="col-md-6">
            <button class="btn btn-success me-4" (click)="savePresentationImages()">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Parte 3: Texto de las páginas se PyS -->
    <div class="row my-4">
      <div class="col-md-12">
        <h2>Páginas de Productos y Servicios</h2>
        <hr />
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Título de Productos</p>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="productosTitle"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Párrafo de Productos</p>
          </div>
          <div class="col-md-6">
            <textarea class="form-control" [(ngModel)]="productosText"></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Título de Servicios</p>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="servicesTitle"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-responsive">Párrafo de Servicios</p>
          </div>
          <div class="col-md-6">
            <textarea class="form-control" [(ngModel)]="servicesText"></textarea>
          </div>
        </div>
        <div class="row mb-4">
          <div class="offset-3 col-md-6">
            <button class="btn btn-success me-4" (click)="saveProductsServices()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
