<div class="container ">
  <div class="ms-5 me-5 ">
    @if (title=='Producto/Servicio'){
      <p class="card-title placeholder-wave">
        <span class="placeholder col-10 skeleton"></span>
      </p>
    } @else {
      <h1 class="mt-5">{{ title }}</h1>
    }
  </div>
  <div class="mt-5 mybackground">
    <div class="row">
      <div class="col-12  col-sm-12 col-md-12 col-lg-7">
        <div class="mt-5 ms-5 me-5">
          @if (description==''){
            <p class="placeholder-wave">
              <span class="placeholder col-10"></span>
              <span class="placeholder col-8"></span>
              <span class="placeholder col-5"></span>
              <span class="placeholder col-12"></span>
            </p>
          } @else {
            <p class="h5" [innerHTML]="formatDescription(description)"></p>
          }
          @if (price!=0) {
            <p class="h5">Precio: {{price | currencyPipe}}</p>
          }
            <p class="h5 mt-5 mb-5"></p>
            <!-- <button [routerLink]="['/detalles']" type="button" class="my-custom-button mt-5 mb-5">Solicitar producto</button>
             -->
            @if (whatsappLink!='' && title!='Producto/Servicio'){
              @if (type==1) {
                <a [href]="whatsappLink" target="_blank">
                  <button type="button" class="my-custom-button mt-5 mb-5" (click)="openWhatsApp()" >Solicitar producto</button>
                </a>
              }@else {
                <a [href]="whatsappLink" target="_blank">
                  <button type="button" class="my-custom-button mt-5 mb-5">Solicitar servicio</button>
                </a>
              }
            }
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
        <client-components-gallery [images]="images"></client-components-gallery>

      </div>
    </div>
  </div>



</div>

