<div class="container ">
  @if (type==0) {
    <div class="ms-5 me-5 ">
      <h1 class="mt-5">Producto</h1>
    </div>
  }@else {
    <div class="ms-5 me-5 ">
      <h1 class="mt-5">Servicio</h1>
    </div>
  }
  <div class="mt-5 mybackground">
    <div class="row">
      <div class="col-7  col-sm-12 col-md-12 col-lg-7">
        <div class="mt-5 ms-5 me-5">
          <p class="h5" [innerHTML]="description"> </p>
            <p class="h5 mt-5 mb-5"></p>
            <!-- <button [routerLink]="['/detalles']" type="button" class="my-custom-button mt-5 mb-5">Solicitar producto</button>
             -->
             @if (type==0) {
              <a [href]="whatsappLink" target="_blank">
                <button type="button" class="my-custom-button mt-5 mb-5">Solicitar producto</button>
              </a>
             }@else {
              <a [href]="whatsappLink" target="_blank">
                <button type="button" class="my-custom-button mt-5 mb-5">Solicitar servicio</button>
              </a>
             }

        </div>
      </div>
      <div class="col-5 col-sm-12 col-md-12 col-lg-5">
        <client-components-gallery ></client-components-gallery>

      </div>
    </div>
  </div>



</div>

<client-component-footers></client-component-footers>
