<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    @if (this.type=="0") {
      @if (offsetService!==0) {
        <li cclass="page-item">
          <a class="page-link" (click)="updateCurrentPage(-1)" >Previous</a>
        </li>
      }
    }@else {
      @if (offsetProducts!==0) {
        <li cclass="page-item">
          <a class="page-link" (click)="updateCurrentPage(-1)" >Previous</a>
        </li>
      }
    }

    @for (pageNumber of generatePagination(); track $index) {
      <li class="page-item"  [class.active]="pageNumber === currentPage">
        <a class="page-link" (click)="updateCurrentPage(pageNumber - currentPage)">{{ pageNumber }}</a>
      </li>
    }
    
    @if (this.type=="0") {
      @if (totalServices>limitService) {
        <li class="page-item">
          <a class="page-link" (click)="updateCurrentPage(1)">Next</a>
        </li>
      }
    }@else {
      @if (totalProducts>limitProducts) {
        <li class="page-item">
          <a class="page-link" (click)="updateCurrentPage(1)">Next</a>
        </li>
      }
    }

  </ul>
</nav>
