<div class="mt-4 d-flex">
  <input
      class="form-control me-2 mt-4"
      type="search"
      placeholder="Introduzca el término que desea buscar"
      aria-label="Introduzca el término que desea buscar"
      #searchInput
      (keyup.enter)="search(searchInput.value)"
  >
  <button
      class="btn mt-4"
      style="background-color: #1c53a8; color:#ffff"
      title="Buscar"
      aria-label="Buscar"
      (click)="search(searchInput.value)"
  >
      Search
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of renderItems; track $index) {
      <tr class="align-middle">
        <td [attr.data-index]="item._id" contentEditable >{{ item.name }}</td>
        <td class="col-3">
          <button *ngIf="service.userLoggedIn && service.userLoggedIn.privileges[1] == 1" class="btn btn-success w-100" (click)="editItem(item)">
            <img src="assets/icons/edit_note_icon.svg" alt="Editar">
            Editar
          </button>
        </td>
        <td class="col-3">
          <button *ngIf="service.userLoggedIn && service.userLoggedIn.privileges[2] == 1" class="btn btn-danger w-100" (click)="deleteItem(item)">
            <img src="assets/icons/cancel_close_icon.svg" alt="Eliminar">
            Eliminar
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
<nav aria-label="navigation">
  <ul class="pagination justify-content-center">
    @if (offset!==0) {
      <li cclass="page-item">
        <a class="page-link" (click)="updateCurrentPage(-1)" >Previous</a>
      </li>
    }

    @for (pageNumber of generatePagination(); track $index) {
      <li class="page-item"  [class.active]="pageNumber === currentPage">
        <a class="page-link" (click)="updateCurrentPage(pageNumber - currentPage)">{{ pageNumber }}</a>
      </li>
    }
    @if (query.trim().length==0) {
      @if (totalRows>limitRows ) {
        <li class="page-item">
          <a class="page-link" (click)="updateCurrentPage(1)">Next</a>
        </li>
      }
    }@else {
      @if (queryRow>limitRows ) {
        <li class="page-item">
          <a class="page-link" (click)="updateCurrentPage(1)">Next</a>
        </li>
      }
    }


  </ul>
</nav>
