<div class="fabs" (click)="toggleBtn()">
  <div class="action">
    <i class="fas fa-share-nodes" #add></i>
    <i class="fas fa-times" #remove></i>
  </div>

  <div class="btns" #btns>
    <a href="#" class="btn" style="background: #3b5999">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="btn" style="background: #fb0000">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="#" class="btn" style="background: #25D366">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="#" class="btn" style="background:#e4405f">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
