<div class="fabs" (click)="toggleBtn()">
  <div class="action">
    <i class="fas fa-share-nodes" #add></i>
    <i class="fas fa-times" #remove></i>
  </div>

  <div class="btns" #btns>
    <a [href]="facebookLink" target="_blank" class="btn btn-facebook" >
      <i class="fab fa-facebook-f"></i>
    </a>
    <a [href]="youtubeLink" target="_blank" class="btn btn-youtube">
      <i class="fab fa-youtube"></i>
    </a>
    <a [href]="whatsappLink" target="_blank" class="btn btn-whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a [href]="instagramLink" target="_blank" class="btn btn-instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>

