<div class="row">
  <div class="container mybackground col-12 mt-5" >
      <div class="col-12 m-4 d-flex ">
        <div class="row mb-5 ">
          <div class="col-6 col-lg-5 col-md-4 col-sm-10 p-0 d-flex justify-content-center align-items-center ">
            <img src="assets/LogoThermoPack.jpg" alt="logoSpoti" height="200px" width="240px" class="rounded-circle mt-1 centered-image">
          </div>
          <div class="col-6 col-sm-10 col-lg-7 col-md-10 mt-3">
            <h1 class="text-light">Contáctenos</h1>
            <p  class="h4 mt-5 me-3 mb-3 text-light">Envíenos sus consultas a través de cualquiera de nuestros medios y le atenderemos con todo gusto a la mayor brevedad posible.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 d-flex mb-5">
      <div class="col-5 mt-5 ms-4">
        <ul class="list-unstyled ms-5">
          <li class="m-2 h5">Ubicación exacta</li>
          <ul>
            <li>Maps</li>
            <li>Waze</li>
            <li>Texto</li>
          </ul>
          <li class="m-2 h5">Números de teléfono</li>
          <ul>
            <li>76829301</li>
            <li>221343563</li>
          </ul>
          <li class="m-2 h5">Correos electrónico</li>
          <li class="m-2 h5">Whatsapp</li>
          <li class="m-2 h5">Facebook</li>
        </ul>
      </div>
      <div class="col-7 dots-container">
        <div class="row">
          <div class="container centrar-imgen col-5  me-0">
            <img src="https://hips.hearstapps.com/hmg-prod/images/types-of-flowers-for-garden-black-eyed-susans-1674848363.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="container centrar-imgen col-5 mt-5  ">
            <img src="https://hips.hearstapps.com/hmg-prod/images/types-of-flowers-for-garden-black-eyed-susans-1674848363.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
</div>
