.mybackground {
  background-color: rgba(28, 83, 168, 0.83); /* Utiliza rgba() para especificar el color con un canal alfa */
  border-radius: 10px;
}
.centrar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%; /* Ancho del contenedor */
  height: 400px; /* Alto del contenedor */
  overflow: hidden; /* Para recortar las imágenes que excedan el contenedor */
  /* border-radius: 102.87px; */
  border-radius: 10px;
}
/* Media query para pantallas de celular */
@media (max-width: 576px) {
  .centrar-img {
    height: 100%; /* Ajusta el alto del contenedor para pantallas de celular */
  }
}
.centrar-img img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  border-radius: 10px;
}



.dots-container {
  position: relative;
  background-image: radial-gradient(circle at 100% 0, #00BFFF 10%, transparent 10%);
  background-size: 11px 11px; /* Tamaño de cada dot */
}

.container {
  position: relative;
  z-index: 1; /* Para asegurarse de que las imágenes estén por encima de los dots */
}

.sin-puntos {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a{
  color: #132cb9;

}
